{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div class="lexconnect-admin-logo" id="site-name">
    <img src="{% static 'main/img/logo.svg' %}" alt="">
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
</div>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="icon" href="{% static 'main/img/favicon.svg' %}" type="image/svg+xml">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'main/css/tokens.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/lexconnect_admin.css' %}">
{% endblock %}

{% block nav-global %}{% endblock %}
